# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Data folders for processing
Data

# Mac stuff
.DS_Store

personal
*.html
EEMs_EXCHANGE_Fall2021/Figures/K009_plot.png
EEMS/EEMs_Template.zip
EEMS/EEMs_Template/Absorbance/BSLE0018A 2s (01) - Abs Spectra Graphs.dat
EEMS/EEMs_Template/Absorbance/BSLE0020A 2s (01) - Abs Spectra Graphs.dat
EEMS/EEMs_Template/Aqualog Data Acquisition Instructions.docx
EEMS/EEMs_Template/EEMs/BSLE0018A 2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMS/EEMs_Template/EEMs/BSLE0020A 2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMS/EEMs_Template/SampleLog.xlsx
EEMS/EEMs_Template/Supporting Matlab Files/DOCnorm.m
EEMS/EEMs_Template/Supporting Matlab Files/EEM_Processing_Code.m
EEMS/EEMs_Template/Supporting Matlab Files/manualplots.m
EEMS/EEMs_Template/Supporting Matlab Files/SpectralIndicesExport.m
EEMs_EXCHANGE_Fall2021/Absorbance/K0082s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0092s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0102s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0112s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0123xdil2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0132s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0204s141021 (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0216xdil2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0223xdil2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0242s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0292s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0301s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0342s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0362s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0372s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0382s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0402s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0412s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0423xdil2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0432s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0442s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0453xd2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0462s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0482s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0492s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0502s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0512s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0522s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0542xdil2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0552s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0562xdil2s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0582s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0592s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0602s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0612s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Absorbance/K0622s (01) - Abs Spectra Graphs.dat
EEMs_EXCHANGE_Fall2021/Aqualog Data Acquisition Instructions.docx
EEMs_EXCHANGE_Fall2021/EEMs/K0082s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0092s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0102s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0112s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0123xdil2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0132s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0204s141021 (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0216xdil2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0223xdil2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0242s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0292s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0301s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0342s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0362s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0372s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0382s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0402s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0412s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0423xdil2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0432s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0442s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0453xd2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0462s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0482s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0492s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0502s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0512s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0522s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0542xdil2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0552s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0562xdil2s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0582s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0592s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0602s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0612s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/K0622s (01) - Processed Graph_ RM_IFE_NRM.dat
EEMs_EXCHANGE_Fall2021/EEMs/OutData_FDOM.dat
EEMs_EXCHANGE_Fall2021/EEMs/RawData_FDOM.mat
EEMs_EXCHANGE_Fall2021/Figures/K008_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K010_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K011_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K012_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K013_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K020_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K021_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K022_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K024_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K029_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K030_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K034_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K036_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K037_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K038_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K040_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K041_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K042_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K043_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K044_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K045_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K046_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K048_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K049_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K050_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K051_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K052_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K054_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K055_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K056_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K058_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K059_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K060_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K061_plot.png
EEMs_EXCHANGE_Fall2021/Figures/K062_plot.png
EEMs_EXCHANGE_Fall2021/SampleLog.xlsx
EEMs_EXCHANGE_Fall2021/Supporting Matlab Files/DOCnorm.m
EEMs_EXCHANGE_Fall2021/Supporting Matlab Files/EEM_Processing_Code.m
EEMs_EXCHANGE_Fall2021/Supporting Matlab Files/manualplots.m
EEMs_EXCHANGE_Fall2021/Supporting Matlab Files/SpectralIndicesExport.m
